src/main/mule/nationalrail-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<json-logger:config name="JSON_Logger_Config" doc:name="JSON Logger Config" doc:id="11e5a9db-3059-4caf-9635-f5acb92f17ef" applicationName="nationalrail-system-api" applicationVersion="v1" environment="dev" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="cfe43e77-0524-4305-979b-0810cfef0a28" />
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="551c0212-879e-4c57-9d47-abcf98fe6bbc" >
		<wsc:connection wsdlLocation="https://lite.realtime.nationalrail.co.uk/OpenLDBWS/wsdl.aspx?ver=2017-10-01" service="ldb" port="LDBServiceSoap" address="https://lite.realtime.nationalrail.co.uk/OpenLDBWS/ldb11.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="get-arrival-details-flow" doc:id="558121a9-3ea4-4689-9c0f-f636f12efef5" >
		<json-logger:logger doc:name="Logger" doc:id="4f6016cd-9baa-4c2e-affd-4afb0ea1b0dc" config-ref="JSON_Logger_Config" message="Before transform message"/>
		<ee:transform doc:name="Transform Message" doc:id="4b225a84-ae9b-421c-82d3-305ba45eee26" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://thalesgroup.com/RTTI/2017-10-01/ldb/
---
{
	ns0#GetArrBoardWithDetailsRequest: {
		ns0#crs: attributes.queryParams.sourceLocation,
		ns0#filterCrs: attributes.queryParams.destinationLocation,
		ns0#timeWindow: attributes.queryParams.timeWindowMins
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="5048955b-dd0a-4930-a79f-01ae120c1194" doc:name="Set Variable" doc:id="53b7f10c-9881-46bb-a0ec-9313ea676e45" variableName="Access Token"/>
		<wsc:consume operation="GetArrBoardWithDetails" doc:id="4ece163a-477c-4510-a110-60dc8f4fde95" config-ref="Web_Service_Consumer_Config">
			<wsc:message >
				<wsc:headers ><![CDATA[#[output application/xml
---
headers: {
	AccessToken:{
		TokenValue:vars."Access Token"
	}
}]]]></wsc:headers>
			</wsc:message>
		</wsc:consume>
		<json-logger:logger doc:name="Logger" doc:id="914366d7-6e20-4a29-be03-750cc7b0ec81" config-ref="JSON_Logger_Config" message="After consume"/>
		<ee:transform doc:name="Transform Message" doc:id="395fefe9-9f6a-4f10-ac17-bfb795ae8a5e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="Logger" doc:id="74bf584f-bfe6-424b-9633-ec4e4375dd66" config-ref="JSON_Logger_Config" message="After transform message"/>
	</flow>
</mule>
